@import "base";

.podcast-header {
  background-color: #3A3A3A;
  color: #FFFFFF;

  .podcast-header-hero {

    .podcast-cover {

      @include media-breakpoint-down(md) {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

  .podcast-ctas {

    .btn {
      width: 15rem;
    }

    .btn:first-child {
      margin-bottom: 1rem;
    }
  }

  .podcast-header-copy {

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.podcast-episodes {

  .podcast-episode {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    .podcast-episode-img {
      margin-bottom: 1rem;
    }

    .podcast-episode-title {
      color: #3A3A3A;
      margin-bottom: 1rem;
    }
  }
}