@import "base";

.services-header {
  background-color: #000;
  color: #FFFFFF;
}

.service-breakdown {

  .service-info-item {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    .service-info-item-img {
      width: 100%;
      height: 300px;
      margin-bottom: 1rem;
    }

    .service-info-item-title {
      color: #3A3A3A;
      margin-bottom: 1rem;
    }
  }
}