<section class="contact-us container-fluid pt-4 pb-4 pl-md-4 pr-md-4">
    <div class="row h-100">
        <div class="contact col-md-7 pb-3">
            <h2 class="header2">contact</h2>
            <p>
                For inquiries, collaborations, press features, lectures and speaking engagements or to simply say hi,
                please <a class="typeform-share button"
                          href="https://papidigital.typeform.com/to/g4JnyD"
                          data-mode="popup"
                          data-submit-close-delay="2" target="_blank">click here to email us</a>.
                <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </p>
        </div>
        <div class="social col-md-5">
            <h2 class="header2">stay connected</h2>
            <a class="social-icon" href="https://www.facebook.com/Papi-Digital-164924544218047/" target="_blank"><img src="{{ 'assets/images/facebook-icon/facebook-icon@2x.png'|theme }}" width="40" height="40" /></a>
            <a class="social-icon" href="https://www.youtube.com/channel/UCxzr0lY3n-skr_m0NRgVoMw" target="_blank"><img src="{{ 'assets/images/youtube-icon/youtube-icon@2x.png'|theme }}" width="40" height="40" /></a>
            <a class="social-icon" href="https://www.instagram.com/_papidigital/" target="_blank"><img src="{{ 'assets/images/instagram-icon/instagram-icon@2x.png'|theme }}" width="40" height="40" /></a>
        </div>
    </div>
</section>

<section class="footer container-fluid pt-3 pb-3">
    <div class="row h-100">
        <div class="col my-auto">
            <p>Copyright &copy; {{ "now"|date("Y") }}, Papi Digital</p>
        </div>
    </div>
</section>
