<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{{ 'home'|page }}">
        <img src="{{ 'assets/images/papi-logo/papi-logo@2x.png'|theme }}" width="261" height="60" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link {% if this.page.id == 'strategy' or this.page.id == 'production' or this.page.id == 'distribution' %}active{% endif %} dropdown-toggle"
                   href="#" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item {% if this.page.id == 'strategy' %}active{% endif %}" href="{{ 'strategy'|page }}">strategy</a>
                    <a class="dropdown-item {% if this.page.id == 'production' %}active{% endif %}" href="{{ 'production'|page }}">production</a>
                    <a class="dropdown-item {% if this.page.id == 'distribution' %}active{% endif %}" href="{{ 'distribution'|page }}">distribution</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if this.page.id == 'blog' %}active{% endif %}" href="{{ 'blog'|page }}">weekly hacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if this.page.id == 'podcast' %}active{% endif %}" href="{{ 'podcast'|page }}">podcast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ 'home'|page }}#about-us">about</a>
            </li>
            <li class="nav-item">
                <div class="nav-link phone">
                    <img src="{{ 'assets/images/phone-icon/phone-icon@2x.png'|theme }}" width="14" height="24" />
                    (818) 850-0397
                </div>
            </li>
        </ul>
    </div>
</nav>
