{% set posts = podcastEpisodes.posts %}

<section class="podcast-episodes container-fluid p-5 text-center">

    <div class="row h-100">
        {% for post in posts %}
        <div class="podcast-episode col-md-4">
            {% if post.featured_images.count %}
            <div class="post-list-article-featured-image" id="post-list-featured-images-top">
                {% for image in post.featured_images|slice(0, 1) %}
                <a href="{{ post.url }}">
                    <img class="podcast-episode-img img-fluid" data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description != null ? image.description : image.filename }}" title="{{ image.title != null ? image.title : post.title }}">
                </a>
                {% endfor %}
            </div>
            {% endif %}
            <h2 class="podcast-episode-title header2"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="podcast-episode-desc">{{ post.excerpt | raw }}</p>
            <a class="podcast-episode-listen-btn btn-outline" href="{{ post.url }}">listen now</a>
        </div>

        {% else %}
        <div class="no-data">{{ podcastEpisodes.noPostsMessage }}</div>
        {% endfor %}
    </div>

</section>

{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
    <li class="{{ posts.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
    <li><a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}
