{% set post = blogPost.post %}


<article class="post-article">
    {% if post.featured_images.count %}
    <div class="article-featured-image">
        {% for image in post.featured_images|slice(0, 1) %}
        <img class="img-fluid" data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description != null ? image.description : image.filename }}" title="{{ image.title != null ? image.title : post.title }}">
        {% endfor %}
    </div>
    {% endif %}

    <div class="article-body align-content-center">
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <h1 class="article-title">{{ post.title }}</h1>

                    <p class="article-info">
                        {{ post.published_at | date('F jS, Y') | trans }}

                        <span class=\"date-separator\">|</span>
                        {% if post.categories.count %}
                        {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join("<span class=\"separator\">, </span>") %}

                        {{ categoryLinks | trans }}

                        {% else %}
                        Uncategorized
                        {% endif %}
                    </p>
                    <div class="article-content">{{ post.content_html | raw }}</div>
                </div>
            </div>
        </div>
    </div>

</article>
